{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <!-- page-banner-area-start -->
  <div
    class="page-banner-area page-banner-height"
    data-background="{% static 'assets/img/banner/page-banner-3.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page-banner-content text-center">
            <h4 class="breadcrumb-title">Contact Us</h4>
            <div class="breadcrumb-two">
              <nav>
                <nav class="breadcrumb-trail breadcrumbs">
                  <ul class="breadcrumb-menu">
                    <li class="breadcrumb-trail">
                      <a href="{% url 'home' %}"><span>Home</span></a>
                    </li>
                    <li class="trail-item">
                      <span>Contact Us</span>
                    </li>
                  </ul>
                </nav>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page-banner-area-end -->

   <!-- location-area-start -->
   <div class="location-area pt-70 pb-25">
    <div class="container">
        <div class="row mb-25">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>LOCATION STORE</span>
                    <h4>Where We Are</h4>
                    <!-- <p></p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-inno.jpg' %}" alt="">
                    </div>
                    <h6>Innopolis, Tatarstan</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Find us</span>
                            <p>Innopolis University, Innopolis, Tatarstan  </p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Call us</span>
                            <p><a href="tel:+8804568">+7 (843) 203-92-53</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>Mail us</span>
                            <p><a href="https://themepure.net/cdn-cgi/l/email-protection#7704031805123714181a0716190e5914181a"><span class="__cf_email__" data-cfemail="8af9fee5f8efcae9e5e7faebe4f3a4e9e5e7">[email&#160;protected]</span></a></p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-kazan.jpeg' %}" alt="">
                    </div>
                    <h6>Kazan, Tatarstan</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Find us</span>
                            <p>120 Dekabristov Street, Kazan, Tatarstan </p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Call us</span>
                            <p><a href="tel:+8804568">+7 (843) 203-92-53</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>Mail us</span>
                            <p><a href="https://themepure.net/cdn-cgi/l/email-protection#f083849f8295b0939f9d80919e89de939f9d"><span class="__cf_email__" data-cfemail="98ebecf7eafdd8fbf7f5e8f9f6e1b6fbf7f5">[email&#160;protected]</span></a></p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-uslon.jpg' %}" alt="">
                    </div>
                    <h6>Verkhniy Uslon, Tatarstan</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Find us</span>
                            <p>120 Pushlina Street, Verkhniy Uslon, Tatarstan</p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Call us</span>
                            <p><a href="tel:+8804568">+7 (843) 203-92-53</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>Mail us</span>
                            <p><a href="https://themepure.net/cdn-cgi/l/email-protection#c4b7b0abb6a184a7aba9b4a5aabdeaa7aba9"><span class="__cf_email__" data-cfemail="6417100b160124070b0914050a1d4a070b09">[email&#160;protected]</span></a></p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-chelny.jpg' %}" alt="">
                    </div>
                    <h6>Naberezhniye Chelny, Tatarstan</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Find us</span>
                            <p>86 Sovetskaya Street, Naberezhniye Chelny, Tatarstan</p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>Call us</span>
                            <p><a href="tel:+8804568">+7 (843) 203-92-53</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>Mail us</span>
                            <p><a href="https://themepure.net/cdn-cgi/l/email-protection#added9c2dfc8edcec2c0ddccc3d483cec2c0"><span class="__cf_email__" data-cfemail="b1c2c5dec3d4f1d2dedcc1d0dfc89fd2dedc">[email&#160;protected]</span></a></p>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- location-area-end -->

  <!-- cmamps-area-start -->
  <div class="cmamps-area">
    <iframe
      src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Innopolis,%20town,%20%D0%98%D0%BD%D0%BD%D0%BE%D0%BF%D0%BE%D0%BB%D0%B8%D1%81,%20Russia+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>
  </div>
  
  <!-- cmamps-area-end -->

  <!-- cta-area-start -->
  <section class="cta-area d-ldark-bg pt-55 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="cta-item cta-item-d mb-30">
                    <h5 class="cta-title">Follow Us</h5>
                    <p>We make consolidating, marketing and tracking your social media website easy.</p>
                    <div class="cta-social">
                        <div class="social-icon">
                            <a href="https://ru-ru.facebook.com/innopolisU/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/innopolisu" class="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/user/InnopolisU" class="youtube"><i class="fab fa-youtube"></i></a>
                            <a href="https://ru.linkedin.com/company/innopolis-ru" class="linkedin"><i class="fab fa-linkedin-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="cta-item mb-30">
                    <h5 class="cta-title">Sign Up To Newsletter</h5>
                    <p>Join 60.000+ subscribers and get a new discount coupon  on every Saturday.</p>
                    <div class="subscribe__form">
                        <form action="#">
                            <input type="email" placeholder="Enter your email here...">
                            <button>subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="cta-item mb-30">
                    <h5 class="cta-title">Download App</h5>
                    <p>DukaMarket App is now available on App Store & Google Play. Get it now.</p>
                    <div class="cta-apps">
                        <div class="apps-store">
                            <a href="#"><img src="{% static 'assets/img/brand/app_ios.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'assets/img/brand/app_android.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- cta-area-end -->

</main>

{% endblock %}
