<!-- footer-start -->
<footer>
  <div class="fotter-area d-dark-bg">
    <div class="footer__top pt-80 pb-15">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-4 order-last-md">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="footer__widget">
                  <div class="footer__widget-title">
                    <h4>Customer Care</h4>
                  </div>
                  <div class="footer__widget-content">
                    <div class="footer__link">
                      <ul>
                        <li><a href="http://campuslife.innopolis.ru/faq">New Customers</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">How to use Account</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Placing an Order</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Payment Methods</a></li>
                        <li>
                          <a href="http://campuslife.innopolis.ru/faq">Delivery &amp; Dispatch</a>
                        </li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Problems with Order</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="footer__widget">
                  <div class="footer__widget-title">
                    <h4>Customer Service</h4>
                  </div>
                  <div class="footer__widget-content">
                    <div class="footer__link">
                      <ul>
                        <li><a href="http://campuslife.innopolis.ru/faq">Help Center</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Contact Us</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Report Abuse</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Submit a Dispute</a></li>
                        <li><a href="http://campuslife.innopolis.ru/faq">Policies &amp; Rules</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-8 order-first-md">
            <div class="footer__top-left">
              <div class="row">
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="footer__widget">
                        <div class="footer__widget-title">
                          <h4>My Account</h4>
                        </div>
                        <div class="footer__widget-content">
                          <div class="footer__link">
                            <ul>
                              <li>
                                <a href="http://campuslife.innopolis.ru/faq">Product Support</a>
                              </li>
                              <li><a href="{% url 'cart_detail' %}">Shopping Cart</a></li>

                              <li>
                                <a href="http://campuslife.innopolis.ru/faq"
                                  >Terms &amp; Conditions &amp;</a
                                >
                              </li>
                              <li><a href="http://campuslife.innopolis.ru/faq">Redeem Voucher</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="footer__widget">
                        <div class="footer__widget-title">
                          <h4>Quick Links</h4>
                        </div>
                        <div class="footer__widget-content">
                          <div class="footer__link">
                            <ul>
                              <li>
                                <a href="https://innopolis.university">University Website</a>
                              </li>
                              <li>
                                <a href="https://innopolis.com">City Website</a>
                              </li>
                              <li>
                                <a href="https://ipts.innopolis.university">Innopoints</a>
                              </li>
                              <li>
                                <a href="{% url 'contact_us' %}">Store Location</a>
                              </li>
                              <li>
                                <a href="{% url 'profile' %}">My account</a>
                              </li>
                              <li>
                                <a href="{% url 'contact_us' %}">Order Tracking</a>
                              </li>
                              <li><a href="http://campuslife.innopolis.ru/faq">FAQs</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                  <div class="footer__widget">
                    <div class="footer__widget-title mb-20">
                      <h4>About The Store</h4>
                    </div>
                    <div class="footer__widget-content">
                      <p class="footer-text mb-35">
                        Our mission statement is to provide the absolute best
                        customer experience available in Innopolis City without exception.
                      </p>
                      <div
                        class="footer__hotline d-flex align-items-center mb-10"
                      >
                        <div class="icon mr-15">
                          <i class="fal fa-headset"></i>
                        </div>
                        <div class="text">
                          <h4>Got Question? Call us 24/7!</h4>
                          <span
                            ><a href="tel:100-123-456-7890"
                              >+7 (843) 203-92-53 </a
                            ></span
                          >
                        </div>
                      </div>
                      <div class="footer__info">
                        <ul>
                          <li>
                            <span
                              >Add:
                              <a
                                target="_blank"
                                href="https://goo.gl/maps/c82DDZ8ALvL878Bv8"
                                >1, Universitetskaya Str., Innopolis,

                                420500, Russia</a
                              ></span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__bottom-content pt-55 pb-45">
          <div class="row">
            <div class="col-xl-12">
              <div class="footer__links text-center mb-25">
                <p>
                  <a href="https://innopolis.university">University Website</a>
                  <a href="https://innopolis.com">City Website</a>
                  <a href="http://campuslife.innopolis.ru"> Campus Website</a>
                  <a href="https://ipts.innopolis.university">Innopoints</a>
                  <a href="https://moodle.innopolis.university">Moodle</a>
                  <a href="http://campuslife.innopolis.ru/faq">FAQs</a>
                </p>
              </div>
              <div class="payment-image text-center mb-25">
                <a href="{% url 'contact_us' %}"
                  ><img src="#" alt=""
                /></a>
              </div>
              <!-- <div class="copy-right-area text-center">
                <p>
                  Copyright © <span>DukaMarket</span> All Rights Reserved.
                  Powered by
                  <a href="#"><span class="main-color">Theme_Pure.</span></a>
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-end -->
